<%- include('../partials/header') %>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="/users/users" class="list-group-item list-group-item-action"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
        <a href="/users/events_registration" class="list-group-item list-group-item-action active"><i class="fa fa-calendar" aria-hidden="true"></i> Event Registration</a>
        <a href="/users/logout" class="list-group-item list-group-item-action"><i class="fa fa-sign-out fa-flip-horizontal" aria-hidden="true"></i> Log out</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#canjoin" role="tab" aria-controls="canjoin" aria-selected="true">Can join</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#registered" role="tab" aria-controls="registered" aria-selected="false">Registered</a>
            </li>
          </ul>
        </div>

        <div class="card-body">
           <div class="tab-content mt-3">
            <div class="tab-pane active" id="canjoin" role="tabpanel">
              <div class="row">
                <form action="/users/events_registration" method="POST" class="w-100">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Brief description</th>
                        <th scope="col">Date held</th>
                        <th scope="col">Register</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% events.forEach((event, i) => { 
                        const tmp = new Date(event.dateheld); 
                        const fmDate = `${tmp.getDate()}/${tmp.getMonth() + 1}/${tmp.getFullYear()}`; %>
                        <tr title="Full description: <%= event.fulldes %>">
                          <th scope="row"><%= event.id %></th>
                          <td><%= event.title %></td>
                          <td><%= event.briefdes %></td>
                          <td><%= fmDate %></td>
                          <td><input type="checkbox" value="<%= event.id %>" name="register"></td>
                        </tr>
                      <% }); %> 
                    </tbody>
                  </table>
                  <hr>
                  <tfoot>
                    <button type="submit" class="btn btn-outline-success float-right mr-3"><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</button>
                  </tfoot>
                </form>
              </div>
            </div>

            <div class="tab-pane" id="registered" role="tabpanel" aria-labelledby="registered-tab">  
              <div class="row">
                <table class="table table-hover w-100">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Brief description</th>
                      <th scope="col">Date held</th>
                      <th scope="col">Attend</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% eventsRegistered.forEach((event, i) => { 
                      const tmp = new Date(event.dateheld); 
                      const fmDate = `${tmp.getDate()}/${tmp.getMonth() + 1}/${tmp.getFullYear()}`; %>
                      <tr title="Full description: <%= event.fulldes %>">
                        <th scope="row"><%= event.id %></th>
                        <td><%= event.title %></td>
                        <td><%= event.briefdes %></td>
                        <td><%= fmDate %></td>
                        <td><input type="checkbox" <%= +event.attend === 1 ? "checked" : "" %> onclick="return false;"></td>
                      </tr>
                    <% }); %> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>

<script type="text/javascript">
  $('#bologna-list a').on('click', function (e) {
    e.preventDefault()
  $(this).tab('show');
})
</script>
